<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico"
          data-th-href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="/webjars/Semantic-UI/2.4.1/semantic.css"
          data-th-href="@{/webjars/Semantic-UI/semantic.min.css}">
    <link rel="stylesheet" href="/style.css" data-th-href="@{/style.css}">
    <title>None</title>
</head>
<body>
    <p>[[ ${message} ?: 'no message' ]]</p>
    <pre>[[ ${ctx} ?: 'no ctx' ]]</pre>
</body>
</html>
