**/src/main/resources/application-oauth2.yaml
target/
!target/generated-docs
application-facebook.yaml
application-oauth2.yaml
application-github.yaml
spring-cloud-dataflow-server-kubernetes/
hidden-*
.gradle/
build/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

!.gitkeep
.DS_Store

node_modules/
bower_components/
yarn.lock
package-lock.json
